.theme-green section.content {
    border-color: #04BE5B !important;
}

.theme-purple section.content {
    border-color: #6f42c1 !important;
}

.theme-blue section.content {
    border-color: #46b6fe !important;
}

.theme-cyan section.content {
    border-color: #5CC5CD !important;
}

.theme-blush section.content {
    border-color: #e47297 !important;
}

.theme-orange section.content {
    border-color: #FF9948 !important;
}
